.lists-show {
    background-size: cover;
    background-position: center;
    height: 25vh;
    background-color: rgb(78, 0, 0);
    color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.img-card {
    height: 25vh;
    background-position: center;
    object-fit: cover;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.movie-rating {
    font-size: 16px;
    color: gray;
}

.movie-overview {
    font-size: 14px;
    color: gray;
}

