.bookmarks-new {
    background-image: url('room.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-color: black;
    color: white;
    padding-top: 15px;
}